fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
email-validator
motor
redis
langchain-core
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-google-genai
langchain-nvidia-ai-endpoints
langgraph
langchain-mongodb
pypdf
beautifulsoup4
rank-bm25
cohere
python-multipart